:root{
    --master-color: #333;
    --logo-color:inherit;
    --brown-color:#a06d51;
    --p-color:#666666;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin:0 ;
    font-family: "Open Sans", sans-serif;
    /* min-height: 3000px; */
}
.container{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Start head */
header {
    /* position: fixed; */
    top: 0;
    width: 100%;
    max-width: 100%;
    background-color: #ffff;
}
header .container {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .logo h1 {
    /* margin: 0; */
}
header .container .logo h1 a{
    /* font-family: 'Inspiration', cursive; */
    font-size: 25px;
    color:var(--logo-color);
}
header .container .window-view{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0;
    gap: 50px;
}
header .container .window-view .li-window{
    display: flex;
    justify-content: space-around;
    list-style: none;
    transition: 2s; 

}
header .container .window-view .li-window a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.589);    
}
header .container .window-view .li-window .active{
    text-decoration: none;
    color: black;     
    font-weight: 600;
}

/* Mobile nav bar */
header .mobile-menu {
    position: relative; 
    display: none;
}
header .mobile-menu:hover .icon span:nth-child(2) {
   width: 100%;
}
header .mobile-menu .icon {
   width: 30px;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
}
header .mobile-menu .icon span { 
   background-color: #666;
   margin-bottom: 5px;
   height: 3px;
}
header .mobile-menu .icon span:first-child{
   width: 100%;
}
header .mobile-menu .icon span:nth-child(2){
   width: 60%;
   transition: .4s;
}
header .mobile-menu .icon span:last-child{
   width: 100%;

}
header .mobile-menu ul{
   margin: 0;
   padding: 0%;
   list-style: none;
   background-color:white;
   position: absolute;
   right:0px;
   width: 200px;
   top: calc(100% + 20px );
   display: none;
   border: 1px solid rgba(0, 0, 0, 0.233);
   border-radius: 10px;
   z-index: 5; 
}
header .mobile-menu ul::before {
   content: "";
   border-style: solid;
   border-width: 10px;
   border-color: transparent transparent var(--brown-color) transparent;
   position: absolute;
   right: 7px;
   top: -20px;
}
header .mobile-menu:hover ul{
   display: block;
}
header .mobile-menu ul li a{
   display: block;
   padding: 10px;
   text-decoration: none;
   color: rgb(0, 0, 0);
   transition: .4s;
}
header .mobile-menu ul li a:hover{
   padding-left: 20px;
}
header .mobile-menu ul li:not(:last-child) a {
   border-bottom: 1px black solid ;
}

@media(max-width:929px){
    header .container .window-view{
        display: none;
    }
    header .mobile-menu {
        display: block;
    }
}

/* Start  landing */
.landing {
    height: calc(100vh - 120px);
    background-image: url(image/landing/landing.jpg);
    background-size: cover; 
}
.landing .container  {
    display: flex;
    padding-left: 45px;
    padding-right: 45px;
    width: 100%;
    height: 100%;
}
.landing .container .left {
    background-size: initial;
    height: fit-content;
    background-position: left top;

}
.landing .container .text {
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.landing .container .text img{
    margin-bottom: 20px;
}
.landing .container .text h1 {
    margin: 0;
    font-family: 'Patua One',display;
    font-size: 70px;
    line-height: 1.2em;
    color: var(--master-color);
    padding-bottom: 10px;
    font-weight: 500;
}
.landing .container p {
    text-transform: uppercase;
    margin: 0;
    color: #666666;
    font-size: 30px;
}
@media(max-width:929px){
    .landing{
        padding-bottom: 10px;
        height:100vh;
    }content;
    }
    .landing .container  {
        display: block;
        height: auto;
        padding:0;
    }
    .landing .container .text h1{
        font-size: 30px;
    }
    .landing .container .text p{
        font-size: 18px;
    }
}
/* order page */
.order {
    background-image: url(image/orderpage/back.jpg);
    background-size: contain;
    height: fit-content;
    background-repeat: no-repeat;

    width: 80%;
    max-width: 1080px;
    margin: auto;
}
.order .container{
    display: flex;
    justify-content: space-around;
}
.order .container .text{

}
.order .container .image{
    width: auto;
}
.order .container .image img{
    width: 550px;
}
.order .container h3{
    font-family: 'PT Sans',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #a06d51!important;
    line-height: 2em;
}
.order .container .text p{
    font-family: 'PT Sans',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
    color: #666666;
    position: relative;
}
.order .container .text p::before{
    position: absolute;
    content: "";
    background-color: #a06d51;
    width: 100%;
    height: 1px;
    top: -60px;
}
.order .container .btn{
    padding-top: 60px;
}
.order .container button{
    padding: 16px 30px 16px 20px;
    border: none;
    cursor: pointer;
    color: #ffffff!important;
    border-width: 0px!important;
    border-radius: 0px;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: 'PT Sans',Helvetica,Arial,Lucida,sans-serif!important;
    /* font-weight: 700!important; */
    text-transform: uppercase!important;
    background-color: #a06d51;
    transition: .3s;
}
.order .container button:hover{
    box-shadow: 3px 3px 10px 17px #74747431;
}
.order .container button i{
    font-size: 15px;
}
@media(max-width:929px){

    .order .container{
        display: block;
    }
    .order .container .image img{
        width: 300px;
    }
}
/* Start services  */
.services{
    padding: 60px 0;
    width: 80%;
    max-width: 1080px;
    margin: auto;
}
.services .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.services .container .first{

}
.services .container .first img{
    width: 90%;
    border-radius: 8px;
    transition: .5s;
}
.services .container .first img:hover{
    box-shadow: 3px 3px 10px 17px #dddddd80;
    scale: 1.03;
}
.services .container .center {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.services .container .center .ht{
    width: 90%;
}
.services .container .center h4{
    font-family: "remixicon";
    font-size: 20px;
    color: var(--brown-color);
}
.services .container .center h1{
    font-family: 'Inspiration', cursive;
    font-size: 45px;
}
.services .container .last{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

}
.services .container .last .l-img{
    width: 90%;
}
/* box  customizing for all */
.services .container .box{
    border: 1px solid rgba(139,94,0,0.125);
    width: 290px;
    text-align: center;
    align-items: center;
    gap: 30px;
    margin-right: 60px;
    cursor: pointer;
    transition: .3s;
}
.services .container .box:hover{
    box-shadow: 3px 3px 10px 17px #dddddd80;
}
.services .container .box .inter{
    padding: 30px ;
}
.services .container img{
    width: 80px;
    margin-bottom:30px ;
}
.services .container h2{
    font-size: 16px;
    margin: 0 0 10px;
}
.services .container  p{
    font-size: 14px;
    line-height: 2;
    color: #666666;
    margin: 0;
    align-self: center;
}
@media(max-width:929px){
    .services .container{
        display: flex;
        flex-direction: column;
    }
    .services .container .first{
        display: flex;
        gap: 30px;
    }
    .services .container .first img{
        width: 150px;
    }
    .services .container .last .l-img{
        width: 45%;
    }
}
@media(max-width:767px){
    .services .container .first{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services .container .first img{
        width: 220px;
    }
    .services .container .center{
        align-self: center;
    }
    .services .container .last{
        align-self: center;
    }
    .services .container .box{
        margin: auto;
    }
}

/* Start menu */

.menu{

}
.menu .container {
    width: 80%;
    max-width: 1080px;
    margin: auto;
}
.menu .head{
    display: flex;
    gap: 80px;
}
.menu .head .col{
    width: 40%;
}
.menu .head .col h4{
    color: var(--brown-color);
    text-transform: uppercase;
}
.menu .head .col h1{
    color: var(--master-color);
}
.menu .head .col h1 span{
    color: #a06d51;
}
.menu .head .col p{
    /* color: var(--brown-color); */
    position: relative;
    padding-top: 20px;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;

}
.menu .head .col p::before{
    content: "";
    background-color: var(--brown-color);
    width: 100%;
    height: 1px;
    position: absolute;
    top: -7px;
}
.menu .head .col p span{
   color: #a06d51;
   font-weight: 100;
}
.menu .head .col h2{
    font-weight: 600;
    color: #0000009f;
    font-size: 24px;
    line-height: 1.3;
    font-family: 'Inspiration', cursive;
}
/* End head Start box bottom*/
.menu .boxs{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
}
.menu .boxs .top{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    width: 260px;
    gap: 30px;

}
/* .menu .boxs .bottom{
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 260px;
} */
.menu .boxs .box{
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.12);
    transition: .2s;
}
.menu .boxs .box:hover{
    box-shadow: 3px 3px 10px 17px #dddddd80;
}
.menu .boxs  .box img{
    width: 200px;
}
.menu .boxs .box h3{
    color: var(--brown-color);
    font-size: 16px
}
.menu .boxs .box p{
    color: #666666;
    font-size: 14px;
}
@media(max-width:929px){

}
@media(max-width:767px){
    .menu .container{
        width: auto;
    }
    .menu .head{
        display: flex;
        flex-direction: column;
    }
    .menu .head .col{
        width: auto;
    }
    .menu .boxs .top{
        gap: 3px;
    }
    .menu .boxs{
        flex-direction: column;
        padding-top: 35px;
    }
    .menu .boxs .top{
        padding-top: 3px;
    }
}

/* Start about */

.about{
    padding: 100px 0;
    /* background-image: url(/image/about/about-right.jpg);
    background-size: cover; */
    background-repeat: no-repeat;
}
.about .container{
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 70px;
    padding-left: 0;
}
.about .left{
}
.about .left img{
    width: 100%;
    height: auto;
}
.about .right{
    background-image: url(image/about/about-right.jpg);
    background-size: cover;
}
.about .right h4{
    font-family: 'Patua One',display;
    font-size: 14px;
    color: var(--brown-color);
    margin: 0;
    padding-bottom: 10px;
}
.about .right h1{
    font-family: 'Patua One',display;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.4em;
    margin: 0;
    padding-bottom: 10px;
}
.about .right p{
    line-height: 1.5;
    font-size: 14px;
    color: var(--p-color);
    width: 600px;
}
.about .right button{
    padding: 15px;
    background-color: var(--brown-color);
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}
.about .right button:hover{
    box-shadow: 3px 3px 10px 14px #74747431;
}
@media(max-width:929px){
    .about .container{
        display: flex;   
        padding-left: 20px;
        padding-right: 20px;
    }
    .about .left{
        display: none;
    }
    .about .right p{
        width: auto;
    }
}
@media(max-width:767px){
    
}

/* footer */
footer{
    /* height: 100vh;   */
    width: 100% ;
    height: max-content;
    position: relative;
}
footer .container{
    padding: 0;
}
footer .top{
   
}
footer .top img{
    /* width: -webkit-fill-available; */
    width: -webkit-fill-available;
    width:1349px;
    height: auto;
    position: absolute;
    top: 0;
}
footer .bottom{
    background-image: linear-gradient(180deg,#160d08 0%,rgba(0,0,0,0.66) 100%)
    ,url(image/footer/bakery-31.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .bottom .text{

}
footer .bottom .text h4{
    color: var(--brown-color);
    font-size: 14px;
    font-weight: 300;
}
footer .bottom .text h3{
    color: white;
    font-size: 16px;
    font-weight: 300;
}
footer .bottom .text .icons{
    display: flex;
    gap: 15px;
    cursor: pointer;
     align-items: center;
    text-align: center;
    align-self: center;
}
footer .bottom .text .icons i{
    transition: .3s;
    /* width: 30px;
    height: 30px; */
}
footer .bottom .text i:hover{
    /* font-size: 20px; */
    scale: 1.3;
}
footer .bottom .text button{
    padding: 15px;
    background-color: var(--brown-color);
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}
footer .bottom .text button:hover{
    box-shadow: 3px 3px 10px 14px #74747431;
}
@media(max-width:929px){
    footer .container{
        
    }
    footer .top img{
        width: 100%;
    }
    footer .bottom{
        gap: 50px;
        padding-left: 30px;
        padding-right: 30px;
    }
    footer .bottom .text button{
        font-size: 14px;
        font-weight: 300;
        padding: 5px;
    }
}
@media(max-width:767px){
    footer .bottom{
        flex-direction: column;
        padding: 60px;
    }
}
